@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
.main {
    background-image: url("assets/images/bg.jpeg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 60vw;
    height: 62px;
}

nav img{
    color: red;
    width: 118px;
    position: relative;
    z-index: 12;
}

nav button{
    position: relative;
    z-index: 12;
}

.hero{
    font-family: "Roboto", sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 22px;
    padding: 0 30px;
}

.hero> :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;  
    text-align: center;  
}

.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;  
    text-align: center;  
}

.seperation{
    height: 7px;
    background-color: rgb(61, 58, 58);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(238, 237, 237, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    color: white;
    margin: auto;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img{
    position: relative;
    width: 30vw;
    z-index: 1;
}

.secImg video{
    position: absolute;
    top: 66px;
    right: 60px;
    height: 65%;
    width: 77%;
}

section.first > div{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bold;
}

section.first > div :nth-child(2){
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 30px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer .questions {
    padding: 34px 0;
    font-family: "Roboto", sans-serif;

}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    font-family: "Roboto", sans-serif;

}
.footer a{
    color: rgb(161, 155, 155);
    font-size: 14px;
}

.footer-items{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 13px;
}
.footer-netIn{
    color: rgba(255, 255, 255, 0.7); 
    padding-top:10px; 
    padding-bottom:20px; 
    font-family: "Roboto", sans-serif;
}